footer 
    .footer 
        .grid-1 
            ul 
                li 
                    span Главная
                li Прайс-лист
                li Партнеры
        .grid-2 
            ul 
                li 
                    span Каталог
                li Категории
                li Акции
                li Справочная инф.
        .grid-3 
            ul 
                li 
                    span О фирме
                li Офис
                li  Вакансии
        .grid-4 
            img(src="img/image 9.png", alt="")
        .grid-5 
            img(src="img/logo.png", alt="")
            p 8 (473) 227-87-60 
            p shop@mche.ru