header 
    .wrapper
        .header 
            img(src="img/logo.png", alt="")
            .main-menu 
                ul 
                    li 
                        a(href="") Главная
                    li 
                        a(href="") Каталог
                    li 
                        a(href="") О фирме
