* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1440px;
}

.header {
    overflow: hidden;
    border-bottom: 1px solid #BBAF41;
    margin-bottom: 33px;

    ul {
        float: right;
        list-style-type: none;
        font-size: 30px;
        display: flex;
        float: right;
        margin-top: 70px;

        a {
            text-decoration: none;
            color: #959C93;
            margin-left: 130px;

        }
    }

    img {
        float: left;
        width: 250px;
        height: 166.667px;
    }
}

.zalogo {
    background-color: #4c9022c7;
    width: 100%;
    height: 134px;

    h1 {
        color: white;
        font-size: 60px;

        font-weight: normal;
        padding-top: 37px;
    }
}

.banner {
    img {
        width: 100%;
    }
}

.praic-lict {
    margin-top: 199px;

    h1 {
        color: #000;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 64px;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 1160px;
        font-size: 25px;
        text-align: center;

        th {
            border: 1px solid black;
            background-color: #BEE0BE;
            height: 93px;

        }

        td {
            border: 1px solid black;
            height: 93px;

        }
    }
}

.partners {
    margin-top: 312px;

    h1 {

        font-size: 35px;
        margin-bottom: 67px;
    }
}

.partners-img {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 300px);
    gap: 4px;
}

footer {
    width: 1440px;
    margin-top: 154px;
    border-top: 1px solid #BBAF41;
}

.footer {

    font-size: 30px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 300px);
    gap: 4px;

    margin-left: 0px;

    ul {
        list-style-type: none;
        margin-top: 70px;
        color: #787878;

        li {
            text-decoration: none;

        }

        li:nth-child(1) {
            margin-bottom: 40px;
        }
    }

    .grid-4 {
        width: 231px;
        height: 99px;
        margin-top: 56px;
    }

    .grid-5 {
        color: #397126;
        font-size: 25px;
        line-height: normal;
        font-weight: bolder;

        img {
            width: 250px;
            height: 166.667px;
        }
    }

}

//О ФИРМЕ
.about {
    width: 1440px;
    height: 224px;
    font-size: 30px;
    margin-top: 236px;

    span {
        font-weight: bold;
    }
}

.office {
    font-size: 30px;
    margin-top: 238px;

    h1 {
        color: #000;
        font-size: 35px;
        margin-bottom: 64px;
    }
}

.vacancy {
    margin-top: 297px;
    font-size: 30px;
    margin-bottom: 370px;

    h1 {
        margin-bottom: 198px;
        font-size: 35px;
    }

}

//КАТАЛОГ
.categories {
    float: left;
    margin-top: 153px;

    .button {
        margin: 0;
        margin-bottom: 60px;
        width: 376px;
        height: 63px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        font-size: 28px;

        img {
            width: 46px;
            height: 46px;
        }
    }
}

.categories-img {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-template-rows: repeat(1, 300px);
    gap: 50px;
}

.stoucks {
    margin-top: 127px;

    h1 {
        color: #000;
        font-size: 35px;
    }
}

.elem-one {
    width: 414px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #B8B5B5;

    .p {
        width: 104px;
        height: 49px;
        border-radius: 10px;
        background: #F25641;
        color: #FFFEFE;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 10px;
        padding-left: 20px;
    }

    .p2 {
        width: 329px;
        height: 67px;
        flex-shrink: 0;
        color: #34442C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        margin-left: 136px;
    }

    .p2 {
        display: flex;
    }

    .p2-black {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .p2-grey {
        color: #9D9696;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
    }

    .elem-one__button {
        display: flex;
        width: 181px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #4C9022;
        border: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        p {
            padding: 14px;
        }

        img {
            margin: 0;
            width: 32px;
            height: 32px;
            margin-top: 9px;
            margin-right: 6px;
        }
    }
}

.elem-two {
    width: 414px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #B8B5B5;

    .p {
        width: 104px;
        height: 49px;
        border-radius: 10px;
        background: #F25641;
        color: #FFFEFE;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 10px;
        padding-left: 20px;
    }

    .p2 {
        width: 329px;
        height: 67px;
        flex-shrink: 0;
        color: #34442C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        margin-left: 136px;
    }

    .p2 {
        display: flex;
    }

    .p2-black {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .p2-grey {
        color: #9D9696;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
    }

    .elem-one__button {
        display: flex;
        width: 181px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #4C9022;
        border: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        p {
            padding: 14px;
        }

        img {
            margin: 0;
            width: 32px;
            height: 32px;
            margin-top: 9px;
            margin-right: 6px;
        }
    }
}

.elem-three {
    width: 414px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #B8B5B5;

    .p {
        width: 104px;
        height: 49px;
        border-radius: 10px;
        background: #F25641;
        color: #FFFEFE;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 10px;
        padding-left: 20px;
    }

    .p2 {
        width: 329px;
        height: 67px;
        flex-shrink: 0;
        color: #34442C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        margin-left: 136px;
    }

    .p2 {
        display: flex;
    }

    .p2-black {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .p2-grey {
        color: #9D9696;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
    }

    .elem-one__button {
        display: flex;
        width: 181px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #4C9022;
        border: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        p {
            padding: 14px;
        }

        img {
            margin: 0;
            width: 32px;
            height: 32px;
            margin-top: 9px;
            margin-right: 6px;
        }
    }
}

.elem-four {
    width: 414px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #B8B5B5;

    .p {
        width: 104px;
        height: 49px;
        border-radius: 10px;
        background: #F25641;
        color: #FFFEFE;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 10px;
        padding-left: 20px;
    }

    .p2 {
        width: 329px;
        height: 67px;
        flex-shrink: 0;
        color: #34442C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        margin-left: 136px;
    }

    .p2 {
        display: flex;
    }

    .p2-black {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .p2-grey {
        color: #9D9696;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
    }

    .elem-one__button {
        display: flex;
        width: 181px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #4C9022;
        border: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        p {
            padding: 14px;
        }

        img {
            margin: 0;
            width: 32px;
            height: 32px;
            margin-top: 9px;
            margin-right: 6px;
        }
    }
}

.elem-five {
    width: 414px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #B8B5B5;

    .p {
        width: 104px;
        height: 49px;
        border-radius: 10px;
        background: #F25641;
        color: #FFFEFE;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 10px;
        padding-left: 20px;
    }

    .p2 {
        width: 329px;
        height: 67px;
        flex-shrink: 0;
        color: #34442C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        margin-left: 136px;
    }

    .p2 {
        display: flex;
    }

    .p2-black {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .p2-grey {
        color: #9D9696;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
    }

    .elem-one__button {
        display: flex;
        width: 181px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #4C9022;
        border: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        p {
            padding: 14px;
        }

        img {
            margin: 0;
            width: 32px;
            height: 32px;
            margin-top: 9px;
            margin-right: 6px;
        }
    }
}

.elem-six {
    width: 414px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #B8B5B5;

    .p {
        width: 104px;
        height: 49px;
        border-radius: 10px;
        background: #F25641;
        color: #FFFEFE;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 10px;
        padding-left: 20px;
    }

    .p2 {
        width: 329px;
        height: 67px;
        flex-shrink: 0;
        color: #34442C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        margin-left: 136px;
    }

    .p2 {
        display: flex;
    }

    .p2-black {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .p2-grey {
        color: #9D9696;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: line-through;
    }

    .elem-one__button {
        display: flex;
        width: 181px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: #4C9022;
        border: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        p {
            padding: 14px;
        }

        img {
            margin: 0;
            width: 32px;
            height: 32px;
            margin-top: 9px;
            margin-right: 6px;
        }
    }
}

.stoucks-product__elem {
    margin-top: 119px;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(2, 666px);
    gap: 10px;
}

.question {
    width: 1440px;
    height: 204px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #8A8686;
    display: flex;
    padding-top: 76px;
    padding-left: 36px;

    span {
        font-size: 20px;
        color: #8A8686;


    }

    .question-text {
        margin-left: 70px;
    }

    .question-black {
        width: 251px;
        height: 48px;
        background-color: #454242;
        display: flex;
        margin: 0;


        p {
            color: white;
            padding-top: 16px;
            font-size: 12px;
        }

        img {
            width: 39px;
            height: 39px;
            margin-left: 21px;
        }
    }

}

//главная
@media (min-width:768px) and (max-width:1024px) {
    .wrapper {
        width: 1000px;
    }

    .header {
        overflow: hidden;
        margin-bottom: 15px;

        ul {
            float: right;
            font-size: 27px;
            display: flex;
            float: right;
            margin-top: 84px;
            margin-bottom: 64px;

            a {
                text-decoration: none;
                color: #959C93;
                margin-left: 130px;

            }
        }

        img {
            float: left;
            width: 219px;
            height: 146px;
            flex-shrink: 0;
            margin-top: 25px;
        }
    }

    .zalogo {
        width: 100%;

        h1 {
            font-size: 50px;
            padding-top: 37px;
            padding-left: 20px;
        }
    }

    .praic-lict {
        margin-top: 120px;

        h1 {
            font-size: 30px;
            line-height: normal;
            margin-bottom: 98px;
        }

        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 974px;
            font-size: 25px;
            text-align: center;

            th {
                height: 78px;
            }

            td {
                height: 78px;
            }
        }
    }

    .partners {
        margin-top: 277px;

        h1 {
            font-size: 30px;
            margin-bottom: 75px;
        }
    }

    .partners-img {
        display: grid;
        grid-template-rows: repeat(4, 200px);
        grid-template-columns: repeat(4, 250px);
        gap: 7px;

        img {
            height: 85px;
        }
    }

    footer {
        width: 1440px;
        margin-top: 154px;
        border-top: 1px solid #BBAF41;
    }

    .footer {
        font-size: 30px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 300px);
        gap: 4px;
        margin-left: 0px;

        ul {
            list-style-type: none;
            margin-top: 70px;
            color: #787878;

            li {
                text-decoration: none;

            }

            li:nth-child(1) {
                margin-bottom: 40px;
            }
        }

        .grid-4 {
            width: 231px;
            height: 99px;
            margin-top: 56px;
        }

        .grid-5 {
            color: #397126;
            font-size: 25px;
            line-height: normal;
            font-weight: bolder;

            img {
                width: 250px;
                height: 166.667px;
            }
        }

    }

}

@media (min-width:480px) and (max-width:768px) {
    .wrapper {
        width: 728px;
    }

    .header {
        overflow: hidden;
        margin-bottom: 15px;

        ul {
            float: right;
            font-size: 27px;
            display: flex;
            float: right;
            margin-top: 84px;
            margin-bottom: 64px;

            a {
                text-decoration: none;
                color: #959C93;
                margin-left: 78px;

            }
        }

        img {
            float: left;
            width: 135px;
            height: 90px;
            flex-shrink: 0;
            margin-top: 25px;
        }
    }

    .zalogo {
        width: 100%;
        height: 110px;

        h1 {
            font-size: 45px;
            padding-top: 30px;
            padding-left: 15px;
        }
    }

    .praic-lict {
        margin-top: 127px;

        h1 {
            font-size: 30px;
            line-height: normal;
            margin-bottom: 98px;
        }

        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 747px;
            font-size: 20px;
            text-align: center;

            th {
                height: 78px;
            }

            td {
                height: 78px;
            }
        }
    }

    .partners {
        margin-top: 272px;

        h1 {
            font-size: 30px;
            margin-bottom: 54px;
        }
    }

    .partners-img {
        display: grid;
        grid-template-rows: repeat(4, 200px);
        grid-template-columns: repeat(4, 180px);
        gap: 5px;

        img {
            height: 85px;
        }
    }

    footer {
        width: 1440px;
        margin-top: 154px;
    }

    .footer {
        font-size: 30px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 300px);
        gap: 4px;
        margin-left: 0px;

        ul {
            list-style-type: none;
            margin-top: 70px;
            color: #787878;

            li {
                text-decoration: none;

            }

            li:nth-child(1) {
                margin-bottom: 40px;
            }
        }

        .grid-4 {
            width: 231px;
            height: 99px;
            margin-top: 56px;
        }

        .grid-5 {
            color: #397126;
            font-size: 25px;
            line-height: normal;
            font-weight: bolder;

            img {
                width: 250px;
                height: 166.667px;
            }
        }

    }

}

//каталог
@media (min-width:768px) and (max-width:1024px) {
    .categories {
        float: left;
        margin-top: 153px;

        .button {
            margin: 0;
            margin-bottom: 60px;
            width: 376px;
            height: 63px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            font-size: 28px;

            img {
                width: 46px;
                height: 46px;
            }
        }
    }

    .categories-img {
        display: grid;
        grid-template-columns: repeat(3, 290px);
        grid-template-rows: repeat(2, 300px);
        gap: 50px;
    }

    .stoucks {
        margin-top: 127px;

        h1 {
            color: #000;
            font-size: 35px;
        }
    }


    .stoucks-product__elem {
        margin-top: 119px;
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-template-rows: repeat(3, 666px);
        gap: 10px;
    }

    .question {
        width: 984px;
        height: 204px;
        flex-shrink: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #8A8686;
        display: flex;
        padding-top: 76px;
        padding-left: 36px;
        margin: 0;

        span {
            font-size: 20px;
            color: #8A8686;
        }

        .question-text {
            margin-left: 70px;
        }

        .question-black {
            width: 251px;
            height: 48px;
            background-color: #454242;
            display: flex;
            margin: 0;


            p {
                color: white;
                padding-top: 16px;
                font-size: 11px;
            }

            img {
                width: 39px;
                height: 39px;
                margin-left: 21px;
            }
        }

    }
}

@media (min-width:480px) and (max-width:768px) {
    .categories {
        float: left;
        margin-top: 153px;


        .button {
            margin: 0;
            margin-bottom: 60px;
            width: 323px;
            height: 50px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            font-size: 20px;

            img {
                width: 46px;
                height: 46px;
            }
        }
    }

    .categories-img {
        display: grid;
        grid-template-columns: repeat(2, 290px);
        grid-template-rows: repeat(2, 300px);
        gap: 50px;
        margin-left: 50px;
    }

    .stoucks {
        margin-top: 127px;

        h1 {
            color: #000;
            font-size: 35px;
        }
    }


    .stoucks-product__elem {
        margin-top: 119px;
        display: grid;
        grid-template-columns: repeat(1, 500px);
        grid-template-rows: repeat(6, 666px);
        gap: 10px;
        margin-left: 154px;
    }

    .question {
        width: 736px;
        height: 207px;
        flex-shrink: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #8A8686;
        display: flex;
        padding-top: 70px;
        margin: 0;

        span {
            font-size: 20px;
            color: #8A8686;
        }

        .question-text {
            margin-left: 17px;
        }

        .question-black {
            width: 251px;
            height: 48px;
            background-color: #454242;
            display: flex;
            margin: 0;


            p {
                color: white;
                padding-top: 16px;
                font-size: 11px;
            }

            img {
                width: 18px;
                height: 34px;
                margin-left: 14px;
            }
        }

    }
}



//О фирме
@media(min-width:768px) and (max-width:1024px) {
    .about {
        width: 984px;
        height: 381px;
        font-size: 30px;
        margin-top: 121px;


    }

    .office {
        font-size: 30px;
        margin-top: 150px;
        width: 832px;
        height: 516px;

        h1 {
            color: #000;
            font-size: 35px;
            margin-bottom: 64px;
        }
    }

    .vacancy {
        margin-top: 799px;
        font-size: 30px;
        margin-bottom: 370px;

        h1 {
            margin-bottom: 198px;
            font-size: 35px;
        }

    }
}

@media(min-width:480px) and (max-width:758px) {
    .about {
        width: 727px;
        height: 398px;
        font-size: 30px;
        margin-top: 145px;
    }

    .office {
        font-size: 30px;
        margin-top: 150px;
        width: 615px;
        height: 516px;

        h1 {
            color: #000;
            font-size: 35px;
            margin-bottom: 64px;
        }
    }

    .vacancy {
        margin-top: 799px;
        font-size: 30px;
        margin-bottom: 370px;

        h1 {
            margin-bottom: 198px;
            font-size: 35px;
        }

    }
}