- var docName = "Shop"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docName
        link(rel="stylesheet", href="styles/style.css")
    body    
        include modules/header   
        .zalogo
            .wrapper
                h1 Главная  
        .banner
            img(src="img/банер.jpg", alt="")
        .wrapper
            .praic-lict 
                h1 Прайс-лист  
                table 
                    tr 
                        th №
                        th Название
                        th Единица
                        th Цена
                    tr 
                        td 1
                        td Масло оливковое "BORGES”
                        td 250гр.
                        td 309р.
                    tr 
                        td 2
                        td Варенье из Клубники 
                        td 480гр.
                        td 252р.
                    tr 
                        td 3
                        td Лапша Роллтон ЯИЧНАЯ 
                        td 400гр.Х 10шт.
                        td 72р.
                    tr 
                        td 4
                        td Рис длиннозерный (Премиум)
                        td 800гр.Х 10шт.
                        td 180р.
                    tr 
                        td 5
                        td Тунец Филе нат. 
                        td 185гр.Х 24шт.
                        td 132р.

            .partners 
                h1 Партнеры
                .partners-img
                    img(src="img/магнит.png", alt="") 
                    img(src="img/пятерочка.png", alt="")
                    img(src="img/бристоль.png", alt="")
                    img(src="img/ашан.png", alt="")
                    img(src="img/дикси.png", alt="")
                    img(src="img/перекресток.png", alt="")
                    img(src="img/азбука вкуса.png", alt="")
                    img(src="img/метро.png", alt="")
                    img(src="img/атак.png", alt="")
                    img(src="img/глобус.png", alt="")
                    img(src="img/лента.png", alt="")
                    img(src="img/окей.png", alt="")
                    img(src="img/ам.png", alt="")
                    img(src="img/билла.png", alt="")
                    img(src="img/винлав.png", alt="")
                    img(src="img/виктория.png", alt="")
        include modules/footer